<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyBatisサンプル</title>
</head>
<body>
    <h1>コース一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>価格</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="item : items">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
            </tr>

             <tr>
            <form method="get">
            <input type="submit" value="編集">
            </form>
            </td>

            <td>
            <form method="post">
            <input type="submit" value="削除">
            </form>
            </td>
            </tr>
        </tbody>
    </table>
</body>
</html>